.imgStyle{
  @apply hidden md:inline-flex bg-gradient-to-r from-blue-500 to-indigo-500 rounded-l-md relative overflow-hidden;
}

.cartoonImg {
  @apply bg-[url('/assets/img2.png')] bg-no-repeat absolute bottom-0 left-0 right-0 top-0 w-full h-full bg-cover z-10;
  background-position: 65% 100px;
}

.cloud_one {
  @apply bg-[url('/assets/cloud_1.png')] bg-no-repeat absolute top-[65%] left-[100%]
  w-[180px] h-[100px] bg-contain z-20;
  transform: translateX(110%);
  /* animation: cloud_one 25.5s ease-in 5.9s infinite; */
}

.cloud_two{
  @apply bg-[url('/assets/cloud_2.png')] bg-no-repeat absolute top-[49%] left-[100%]
  w-[120px] h-[100px] bg-contain z-0;
  transform: translateX(110%);
  /* animation: cloud_two 18.5s ease-in .9s infinite; */
}

/* css keyframes */
@keyframes cloud_one{
  0%{
      transform: translateX(110%);
  }100%{
      transform: translateX(-350%);
  }
}

@keyframes cloud_two{
  0%{
      transform: translateX(160%);
  }100%{
      transform: translateX(-350%);
  }
}